
@{
    ViewData["Title"] = "Valyuta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-6 offset-3" style="font-size:18px;text-align:center">
            <label class="col-form-label">Dollar</label>
            <input type="number" name="" value="" class="form-control elprice" onfocusout="myFunction()" />

            <label class="col-form-label"> Elprice</label>

            <input type="number" name="" value="" class="form-control dollar" />


            <button type="button" class="btn btn-success" style="margin:30px 0px 0 0px;">Deyish</button>

        </div>
    </div>
</div>
